.accordion {
  @keyframes accordeonAnimation {
    0% {
      max-height: 0;
      opacity: 0;
    }

    25% {
      max-height: 25%;
    }

    50% {
      max-height: 50%;
    }

    75% {
      max-height: 75%;
    }

    100% {
      max-height: none;
      opacity: 1;
    }
  }

  .accordion-content {
    &-enter-active {
      animation: accordeonAnimation 0.3s ease-in;
    }
    &-leave-active {
      animation: accordeonAnimation 0.3s ease-in;
      animation-direction: reverse;
    }
  }

  dl {
    dt,
    dt.small {
      @apply flex items-center justify-between cursor-pointer font-medium font-rubik text-modest text-grayPrimary leading-tight pt-4 mt-2 border-t border-gray3 border-solid;

      &:first-of-type {
        @apply border-none pt-0 mt-0;
      }

      .arrow {
        @apply flex items-center justify-center w-6 h-6 border-2 border-solid border-grayPrimary rounded-full duration-200 ease-linear transition-all ml-6;

        &.arrow_down {
          @apply bg-grayPrimary;
          transform: rotate(180deg);

          svg {
            path {
              stroke: #fff;
            }
          }
        }
      }
    }

    dd,
    dd.small {
      @apply mt-2 block overflow-hidden;
    }
  }

  @screen sm {
    dl {
      dt {
        @apply text-medium pt-6 mt-4;
      }

      dd {
        @apply mt-4;
      }
    }
  }
}
