.accordion {
  @keyframes accordeonAni {
    0% {
      max-height: 0;
    }
  }

  .accordion-content {
    &-enter {
      max-height: 0;
      display: block;
    }

    &-enter-active {
      animation: accordeonAni 0.3s ease;
      overflow: hidden;
    }

    &-leave {
      display: block;
    }

    &-leave-to {
      display: block;
    }

    &-leave-active {
      animation: accordeonAni 0.3s ease;
      animation-direction: reverse;
      overflow: hidden;
    }
  }

  dl {
    dt,
    dt.small {
      @apply flex items-center justify-between cursor-pointer font-medium font-rubik text-modest text-grayPrimary leading-tight pt-4 mt-2 border-t border-gray3 border-solid;

      &:first-of-type {
        @apply border-none pt-0 mt-0;
      }

      .arrow {
        @apply flex items-center justify-center w-6 h-6 border-2 border-solid border-grayPrimary rounded-full duration-200 ease-linear transition-all ml-6;

        &.arrow_down {
          @apply bg-grayPrimary;
          transform: rotate(180deg);

          svg {
            path {
              stroke: #fff;
            }
          }
        }
      }
    }

    dd,
    dd.small {
      @apply my-2;
    }
  }

  @screen sm {
    dl {
      dt {
        @apply text-medium pt-6 mt-4;
      }

      dd {
        @apply my-4;
      }
    }
  }
}
