.dp__theme_light {
  --dp-primary-color: #ffb600;

  @apply border border-gray3 rounded
    overflow-hidden
    font-rubik text-slight shadow-sm;

  .dp__calendar_header_separator {
    @apply hidden;
  }

  .dp__month_year_row {
    @apply mt-2 px-4 py-0
      text-grayPrimary text-modest leading-tight font-medium;

    .dp__month_year_select {
      &:nth-child(2) {
        @apply ml-3
          capitalize;
      }

      &:nth-child(3) {
        @apply mr-3 w-2/5;
      }

      &:nth-child(3)::before {
        @apply inline-block
          w-5
          text-medium;

        content: '/\00a0\00a0\00a0';
      }
    }
  }

  .dp__input_icon_pad {
    @apply pl-9;
  }

  .dp__input_icon {
    @apply h-full;
  }

  .dp__clear_icon {
    @apply right-4;
    filter: opacity(0.6);
  }

  .input-icon {
    @apply flex justify-center items-center
      w-8 h-full border-r border-grayPrimary;
  }

  .dp__calendar_header_item {
    @apply pt-2 pb-0
    text-gray4
    text-slight font-normal leading-tight uppercase;
  }

  .dp__calendar {
    .dp__calendar_item {
      @apply flex justify-center items-center
        h-7 w-7;
    }

    .dp__cell_inner {
      @apply h-5 w-6 px-1 py-1 rounded;
    }

    .dp__active_date {
      @apply text-black;
    }

    .dp__range_between {
      @apply bg-orange1 text-grayPrimary;
    }
  }

  .dp__instance_calendar {
    &::after {
      @apply inline-block
        w-11/12 mx-1/20 my-0
        bg-gray3;

      content: '';
      height: 1px;
    }

    .dp__cell_offset {
      @apply hidden;
    }
  }

  .dp__calendar_item > .dp__today {
    @apply bg-grayPrimary text-white border-none;
  }

  .dp__action_row {
    .dp__selection_preview {
      @apply hidden;
    }

    .dp__action_buttons {
      @apply w-full;

      button:first-of-type {
        @apply mr-4;
      }
    }
  }
}
