.multi-axis-line {
  .print {
    @apply flex items-center uppercase cursor-pointer text-gray4 text-tiny leading-tight;

    &:before {
      content: '';
      @apply w-6 h-6 block mr-1;
      background: url(~@img/icon/print-image.svg?url) no-repeat center center;
    }
  }
}
