.checkbox-root {
  @apply gap-1 font-rubik inline-flex flex-col items-start;
  &.rtl {
    @apply items-end;
  }
}

.title-label {
  @apply text-small;
}

label {
  @apply select-none inline-flex items-center gap-2 text-small cursor-pointer font-normal m-0;

  &.rtl {
    @apply flex-row-reverse;
  }

  input {
    // hide the default browser checkbox, but keep with a size for accessibility
    @apply opacity-0 w-1 h-1 absolute;
  }

  span {
    @apply leading-normal;

    &.custom-checkbox {
      @apply inline-grid place-items-center border border-gray3 rounded shadow-sm bg-white duration-200 ease-linear transition-all;
      min-width: 22px;
      min-height: 22px;

      &.checked {
        @apply bg-rebrandingPrimary;
      }

      &.disabled {
        @apply bg-gray2;
      }

      &.invalid {
        @apply border-red2;
      }
    }

    &.disabled {
      @apply text-gray4;
    }
  }

  input:hover + .custom-checkbox:not(.checked):not(.disabled) {
    @apply bg-gray1;
  }
}
span.error {
  @apply text-red2 text-slight font-lato;
}
