.chip {
  @apply bg-gray1 rounded px-4 text-grayPrimary text-slight h-7 flex gap-2 items-center transition-all duration-200 ease-linear relative;
  width: fit-content;

  .svg-wrapper {
    @apply cursor-pointer h-6 w-6 transition-all duration-200 ease-linear text-gray7;
    padding: 6px;
    svg {
      @apply fill-current;
    }
  }

  .chip-tooltip {
    @apply opacity-0 bg-grayPrimary absolute text-small text-white font-rubik font-normal rounded z-10 py-2 px-4 duration-200 ease-linear transition-all leading-tight;
    bottom: calc(100% + 10px);
    left: 50%;
    max-width: 320px;
    transform: translateX(-50%);
    visibility: hidden;
    width: max-content;

    &::after {
      @apply absolute border-solid;
      border-color: #666 transparent transparent transparent;
      border-width: 6px;
      content: '';
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
    }
  }

  &.small {
    @apply bg-gray2 px-2 py-1 h-auto;

    .svg-wrapper {
      @apply p-1 h-4 w-4 m-0 rounded bg-gray3 text-gray4;
    }

    &:hover {
      @apply bg-gray3;

      .svg-wrapper {
        @apply bg-gray4 text-gray2;
      }
    }
  }

  &:hover {
    .chip-tooltip {
      @apply opacity-100;
      visibility: visible;
    }
  }
}
