.sol-input {
  .wrapper-input {
    @apply relative;
  }

  input {
    @apply relative z-0;

    &.is-icon {
      padding-left: 56px;
    }

    &.search {
      @apply shadow-none;
    }

    &.hasIconVisibility {
      @apply pr-8;
    }

    &.no-arrows[type='number'] {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .icon {
    @apply w-8 h-8 border-gray3 border-r border-solid flex items-center justify-center absolute z-10 top-0 left-0;
  }

  label {
    span.required {
      @apply text-red3;
    }
  }

  i,
  .close {
    @apply h-6 w-6 block absolute z-10 cursor-pointer;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 40px);

    &.close {
      @apply grid place-items-center;
      left: calc(100% - 72px);
      svg {
        @apply h-3 w-3 fill-current text-gray4;
      }
    }
    &.search {
      background: url(~@img/icon/icon-search.svg?url) no-repeat center center;
    }
    &.show {
      background: url(~@img/icon/icon-show.svg?url) no-repeat center center;
    }
    &.hide {
      background: url(~@img/icon/icon-hide.svg?url) no-repeat center center;
    }
  }
}
