.sol-input {
  @apply relative;

  input {
    @apply relative z-0;

    &.is-icon {
      padding-left: 56px;
    }

    &.search {
      @apply shadow-none;
    }
  }

  .icon {
    @apply w-8 h-8 border-gray3 border-r border-solid flex items-center justify-center absolute z-10 top-0 left-0;
  }

  i.reset-search {
    @apply h-6 w-6 block absolute z-10 cursor-pointer;
    background: url(~@img/icon/icon-close.svg) no-repeat center center;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 72px);
  }

  i.search {
    @apply h-6 w-6 block absolute z-10 cursor-pointer;
    background: url(~@img/icon/icon-search.svg) no-repeat center center;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 40px);
  }
}
