.sol-input {
  .wrapper-input {
    @apply relative;
  }

  input {
    @apply relative z-0;

    &.is-icon {
      padding-left: 56px;
    }

    &.search {
      @apply shadow-none;
    }

    &.hasIconVisibility {
      @apply pr-8;
    }
  }

  .icon {
    @apply w-8 h-8 border-gray3 border-r border-solid flex items-center justify-center absolute z-10 top-0 left-0;
  }

  label {
    span.required {
      @apply text-red3;
    }
  }

  i {
    @apply h-6 w-6 block absolute z-10 cursor-pointer;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 40px);

    &.close {
      background: url(~@img/icon/icon-close.svg) no-repeat center center;
      left: calc(100% - 72px);
    }
    &.search {
      background: url(~@img/icon/icon-search.svg) no-repeat center center;
    }
    &.show {
      background: url(~@img/icon/icon-show.svg) no-repeat center center;
    }
    &.hide {
      background: url(~@img/icon/icon-hide.svg) no-repeat center center;
    }
  }
}
