.sol-input-search-component {
  @apply w-full;

  @screen md {
    width: 390px;
  }

  .wrapper {
    @apply flex flex-col gap-0;

    @screen md {
      @apply flex-row;
    }

    & > .select {
      .select-main {
        @apply rounded-t rounded-b-initial border-gray3 shadow-none;
      }

      .options-container {
        @apply relative border-gray3 rounded-initial shadow-none;
        margin-top: 1px;
        margin-bottom: 1px;

        @screen md {
          @apply absolute mt-0 mb-0 rounded-b rounded-t-initial;
        }
      }

      @screen md {
        width: 150px;

        .select-main {
          @apply rounded-l rounded-r-initial border-r-0;
          border-bottom-width: 1px;
        }
      }
    }

    & > .input {
      input {
        @apply border-gray3 bg-white rounded-b rounded-t-initial;
      }

      @screen md {
        width: 240px;

        input {
          @apply rounded-r rounded-l-initial;
        }
      }
    }
  }
}
