.sol-toaster {
  @apply fixed z-50 w-full;
  max-width: 336px;
  transition: all 0.3s ease;

  .sol-toast-item {
    @apply py-6 px-5 rounded mb-2;
    transition: all 0.3s ease;

    &.success {
      @apply bg-green2 text-gray7;

      .close {
        @apply bg-green1;
      }
    }

    &.error {
      @apply bg-red2 text-gray7;

      .close {
        @apply bg-red1;
      }
    }

    &.warning {
      @apply bg-orangePrimary text-gray7;

      .close {
        @apply bg-orange1;
      }
    }

    &.info {
      @apply bg-grayPrimary text-white;

      .close {
        background-image: url(~@img/icon/icon-close-white.svg);
        @apply bg-gray4 text-white;
      }

      .msg {
        @apply text-white;
      }
    }

    div {
      @apply flex items-center;
    }

    span {
      &.close {
        @apply w-6 h-6 rounded overflow-hidden cursor-pointer;
        background: url(~@img/icon/icon-close-black.svg) no-repeat center center;
        text-indent: -99em;
      }

      &.msg {
        @apply mx-4 text-small font-normal font-rubik text-gray7;
        width: calc(100% - 80px);
      }
    }
    // 'topright',
    // 'topleft',
    // 'bottom',
    // 'bottomleft',
    // 'bottomright',
  }

  &.top {
    top: 32px;
    left: 50%;
    transform: translateX(-50%);

    .sol-toast-item {
      &.sol-toast-enter,
      &.sol-toast-leave-to {
        transform: translateY(-100%);
      }
    }
  }

  &.topright {
    top: 32px;
    right: 24px;

    .sol-toast-item {
      &.sol-toast-enter,
      &.sol-toast-leave-to {
        transform: translate(100%);
      }
    }
  }

  &.topleft {
    top: 32px;
    left: 24px;

    .sol-toast-item {
      &.sol-toast-enter,
      &.sol-toast-leave-to {
        transform: translate(-100%);
      }
    }
  }

  &.bottom {
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);

    .sol-toast-item {
      &.sol-toast-enter,
      &.sol-toast-leave-to {
        transform: translateY(100%);
      }
    }
  }

  &.bottomright {
    bottom: 32px;
    right: 24px;

    .sol-toast-item {
      &.sol-toast-enter,
      &.sol-toast-leave-to {
        transform: translate(100%);
      }
    }
  }

  &.bottomleft {
    bottom: 32px;
    left: 24px;

    .sol-toast-item {
      &.sol-toast-enter,
      &.sol-toast-leave-to {
        transform: translate(-100%);
      }
    }
  }
}
