.sol-tooltip {
  @apply relative inline-block whitespace-normal;
}
.content-tooltip {
  @apply opacity-0 bg-grayPrimary absolute text-small text-white font-rubik font-normal rounded z-10 py-2 px-4 duration-200 ease-linear transition-all leading-tight;
  max-width: 320px;
  visibility: hidden;
  width: max-content;

  &::after {
    @apply absolute border-solid;
    border-width: 6px;
    content: '';
  }

  &.topright {
    bottom: calc(100% + 10px);
    right: 0;

    &::after {
      top: 100%;
      right: 8px;
      border-color: #666 transparent transparent transparent;
    }
  }

  &.top {
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);

    &::after {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-color: #666 transparent transparent transparent;
    }
  }

  &.topleft {
    bottom: calc(100% + 10px);
    left: 0;

    &::after {
      top: 100%;
      left: 10px;
      border-color: #666 transparent transparent transparent;
    }
  }

  &.bottomright {
    top: calc(100% + 10px);
    right: 0;

    &::after {
      bottom: 100%;
      right: 8px;
      border-color: transparent transparent #666 transparent;
    }
  }

  &.bottom {
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);

    &::after {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-color: transparent transparent #666 transparent;
    }
  }

  &.bottomleft {
    top: calc(100% + 10px);
    left: 0;

    &::after {
      bottom: 100%;
      left: 10px;
      border-color: transparent transparent #666 transparent;
    }
  }

  &.righttop {
    top: 0;
    left: calc(100% + 10px);

    &::after {
      top: 10px;
      right: 100%;
      border-color: transparent #666 transparent transparent;
    }
  }

  &.right {
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 10px);

    &::after {
      top: 50%;
      transform: translateY(-50%);
      right: 100%;
      border-color: transparent #666 transparent transparent;
    }
  }

  &.rightbottom {
    bottom: 0;
    left: calc(100% + 10px);

    &::after {
      bottom: 10px;
      right: 100%;
      border-color: transparent #666 transparent transparent;
    }
  }

  &.lefttop {
    top: 0;
    right: calc(100% + 10px);

    &::after {
      top: 10px;
      left: 100%;
      border-color: transparent transparent transparent #666;
    }
  }

  &.left {
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 10px);

    &::after {
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      border-color: transparent transparent transparent #666;
    }
  }

  &.leftbottom {
    bottom: 0;
    right: calc(100% + 10px);

    &::after {
      bottom: 10px;
      left: 100%;
      border-color: transparent transparent transparent #666;
    }
  }
}

.sol-tooltip:hover .content-tooltip {
  @apply opacity-100;
  visibility: visible;
}
