.sol-tooltip {
  @apply relative inline-block;
}
.content-tooltip {
  @apply opacity-0 bg-grayPrimary absolute text-small text-white font-rubik;
  transition: opacity 1s;
  visibility: hidden;
  width: max-content;
  max-width: 320px;
  text-align: center;
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  line-height: 16px;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 5px;
  }

  &.top-left {
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    &::after {
      top: 100%;
      left: 10px;
      margin-left: -5px;
      border-color: #666 transparent transparent transparent;
    }
  }
  &.top-right {
    bottom: 150%;
    right: 0;
    margin-left: -60px;
    &::after {
      transform: translateX(-50%);
      top: 100%;
      right: 4px;
      margin-left: -5px;
      border-color: #666 transparent transparent transparent;
    }
  }
  &.top-center {
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    &::after {
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-color: #666 transparent transparent transparent;
    }
  }
  &.bottom-center {
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    &::after {
      transform: translateX(-50%);
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-color: transparent transparent  #666 transparent;
    }
  }
  &.bottom-right {
    z-index: 1;
    top: 150%;
    right: 0;
    margin-left: -60px;
    &::after {
      bottom: 100%;
      right: 10px;
      margin-left: -5px;
      border-color:  transparent transparent #666 transparent;
    }
  }
  &.bottom-left {
    z-index: 1;
    top: 150%;
    right: 20%;
    margin-left: -60px;
    &::after {
      bottom: 100%;
      left: 10%;
      margin-left: -5px;
      border-color: transparent transparent #666 transparent;
    }
  }
  &.right-top {
    top: 0%;
    left: 150%;
    margin-left: -60px;
  }
  &.right-middle {
    top: 10%;
    left: 150%;
    margin-left: -60px;
  }

  &.right-bottom {
    top: 25%;
    left: 150%;
    margin-left: -60px;
  }

  &.left-top {
    top: 0%;
    right: 110%;
    margin-left: -60px;
  }
  &.left-middle {
    top: 10%;
    right: 110%;
    margin-left: -60px;
  }

  &.left-bottom {
    top: 25%;
    right: 110%;
    margin-left: -60px;
  }

  &.left-center::after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-color: transparent #666 transparent transparent;
  }
  &.right-center::after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-color: transparent #666 transparent transparent;
  }
  &.left-center::after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent #666 ;
  }
}


.sol-tooltip:hover .content-tooltip {
  @apply opacity-100;
  visibility: visible;
}

