html,
body {
  @apply font-lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply text-grayPrimary bg-white;

  /* width */
  &::-webkit-scrollbar {
    @apply w-2;
    right: 16px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    @apply bg-gray2;
    border-radius: 25px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    @apply bg-gray4;
    border-radius: 25px;

    &:hover {
      @apply bg-grayPrimary;
    }
  }

  &::-webkit-scrollbar-button {
    // @apply hidden;
  }

  // animate fade
  .fade-enter-active,
  .fade-leave-active {
    @apply duration-300 ease-out transition-opacity;
  }

  .fade-enter,
  .fade-leave-to {
    @apply opacity-0;
  }

  // animate fade and scale zoom
  .fade-shrink-in-enter-active,
  .fade-shrink-in-leave-active {
    transition: all 0.3s ease;
  }

  .fade-shrink-in-enter,
  .fade-shrink-in-leave-to {
    opacity: 0;
    transform: scale(1.1);
  }

  .container {
    @apply px-3 mx-auto;
    max-width: 360px;
    width: 100%;

    @screen sm {
      max-width: 540px;
    }

    @screen md {
      max-width: 720px;
    }

    @screen lg {
      max-width: 960px;
    }

    @screen xl {
      max-width: 1140px;
    }
  }
}
