.spinner {
  display: inline-block;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  text-indent: -999em;
  overflow: hidden;
  @apply animate-spin;
}
